body,
html {
  margin: 0; /* Verwijdert de standaard marges */
  padding: 0; /* Verwijdert de standaard padding */
  font-family: "roca", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: white;
  color: #eb8900;
}
header {
  position: fixed; /* Maak de container vast gepositioneerd */
  top: 16px; /* Begin vanaf de bovenkant van het scherm */
  left: -34px; /* Begin vanaf de linkerkant van het scherm */
  width: 100%; /* Volledige breedte van de viewport */
  height: 6%; /* Volledige hoogte van de viewport */
  display: flex; /* Flexbox voor centreren */
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
  z-index: 1;
}

#nav {
  display: flex; /* Flexbox gebruiken voor de navigatie-items */
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren in de header */
  gap: 50px; /* Voeg ruimte tussen de knoppen toe */
  padding: 10px; /* Voeg padding toe rondom de navigatie om ruimte te creëren */
}
.menu-toggle {
  display: none; /* Verberg de hamburgerknop standaard */
}
#navstijl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}
header > a {
  cursor: url(../img/nat996.png) 30 30, pointer;
  color: #ff78d2;
}

.button-2 {
  border: solid 2px #eb8900;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 174px;
  height: 42px;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 3px 0;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#intro {
  position: relative;
}
#intro > img {
  width: 100%;
}
#intro > h1 {
  position: absolute;
  top: 108px;
  margin-left: 893px;
  color: #fffcf5;
  font-size: xxx-large;
}
#intro > p {
  position: absolute;
  color: #fffcf5;
  margin-left: 897px;
  font-size: 21px;
  margin-right: 43px;
  line-height: 1.6;
  margin-top: -599px;
  letter-spacing: 0.5px;
}
#intro > audio {
  margin-left: -550px;
  z-index: 1;
  margin-top: 310px;
  position: absolute;
}

#uitleg > img {
  width: 502px;
  padding-left: 37px;
  padding-top: 37px;
  position: absolute;
}

#uitleg > p {
  float: right;
  width: 805px;
  font-size: 18px;
  margin-right: 43px;
  line-height: 1.6;
}
#uitleg > p:nth-of-type(1) {
  padding-top: 37px;
}

#book > iframe {
  position: absolute;
  width: 1147px;
  height: 865px;
  padding-top: 482px;
  margin-left: -79px;
  transform: scale(0.8);
  border: none;
}
#book > p:nth-of-type(1) {
  padding-top: 531px;
  padding-left: 994px;
  width: 400px;
  font-size: 21px;
  margin-right: 43px;
  line-height: 1.6;
}
#book > ul {
  padding-left: 994px;
  width: 400px;
  font-size: 21px;
  margin-right: 43px;
  line-height: 1.6;
}
#book > p:nth-of-type(2) {
  padding-left: 994px;
  width: 400px;
  font-size: 21px;
  margin-right: 43px;
  line-height: 1.6;
  font-weight: bold;
}
#pdf-message {
  display: none;
  background-color: #fffcf5;
  color: black;
  font-family: "roca", sans-serif;
  font-size: 14px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
/* Media query voor schermgrootte 430px */
@media (max-width: 430px) {
  /* Voor schermen kleiner dan of gelijk aan 430px breed */
  #book > iframe {
    display: none;
  }
  header {
    height: auto; /* Maak de hoogte van de header automatisch om ruimte te besparen */
    padding: 10px;
    left: 0;
  }

  #navLinks {
    display: none; /* Menu is verborgen op kleinere schermen */
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 50px;
    right: 0;
    width: 200px;
    padding: 20px;
    z-index: 999;
  }

  .menu-toggle {
    display: block;
    color: #eb8900;
    border: 2px solid #eb8900;
    background-color: white;
    border-radius: 6px;
    position: absolute; /* Absoluut positioneren */
    top: 10px; /* Afstand van de bovenkant */
    left: 20px; /* Afstand van de linkerkant */
    z-index: 1000; /* Zorg dat de knop boven het menu blijft */
    transform: scale(1);
    width: 11%;
  }

  /* Verberg #navstijl standaard */
  #navstijl {
    display: none;
    gap: 3%;
    padding: 0;
  }

  /* Toon #navstijl wanneer de 'open' klasse wordt toegevoegd */
  #navstijl.open {
    display: grid;
  }
  #intro > h1 {
    font-size: 1.5em;
    top: 3%;
    margin-left: 61%;
  }

  #intro > p {
    font-size: 0.8em;
    left: 5%;
    margin-left: 57%;
    margin-top: -44%;
    width: auto;
  }

  #uitleg > img {
    width: 100%;
    padding: 0;
  }

  #uitleg > p {
    font-size: 14px;
    padding: 0 10px;
    width: auto;
    margin-right: 0%;
  }
  #uitleg > p:nth-of-type(1) {
    padding-top: 77%;
    width: auto;
    margin-right: 0%;
  }

  #book > p,
  #book > ul {
    font-size: 14px;
  }
  #book > p:nth-of-type(1) {
    padding: 0 10px;
  }
  #book > ul {
    padding: 0 27px;
    width: auto;
  }
  #book > p:nth-of-type(2) {
    padding: 0 10px;
    width: auto;
  }
  #pdf-message {
    display: block; /* Maak het zichtbaar op mobiele apparaten */
    color: #eb8900;
    padding: 0 10px;
    text-align: left;
  }
}
