body,
html {
  margin: 0; /* Verwijdert de standaard marges */
  padding: 0; /* Verwijdert de standaard padding */
  font-family: "roca", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
  font-family: "roca", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #fffcf5;
  color: black;
}
header {
  position: fixed; /* Maak de container vast gepositioneerd */
  top: 16px; /* Begin vanaf de bovenkant van het scherm */
  left: -34px; /* Begin vanaf de linkerkant van het scherm */
  width: 100%; /* Volledige breedte van de viewport */
  height: 6%; /* Volledige hoogte van de viewport */
  display: flex; /* Flexbox voor centreren */
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
  z-index: 1;
}

#nav {
  display: flex; /* Flexbox gebruiken voor de navigatie-items */
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren in de header */
  gap: 50px; /* Voeg ruimte tussen de knoppen toe */
  padding: 10px; /* Voeg padding toe rondom de navigatie om ruimte te creëren */
}
.menu-toggle {
  display: none; /* Verberg de hamburgerknop standaard */
}
#navstijl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}
header > a {
  cursor: url(../img/nat996.png) 30 30, pointer;
  color: #ff78d2;
}

.button-2 {
  border: solid 2px black;
  border-radius: 15px;
  background-image: url(../img/che_g03.gif);
  color: #ff78d2;
  font-weight: 700;
  font-size: 16px;
  width: 174px;
  height: 42px;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 3px 0;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#intro {
  position: relative;
}
#intro > img {
  width: 100%;
}
#intro > h1 {
  position: absolute;
  top: 108px;
  margin-left: 893px;
  color: black;
  font-size: xxx-large;
}
#intro > p {
  position: absolute;
  color: black;
  margin-left: 897px;
  font-size: 21px;
  margin-right: 43px;
  line-height: 1.6;
  margin-top: -515px;
  letter-spacing: 0.5px;
}
#intro > audio {
  margin-left: -550px;
  z-index: 1;
  margin-top: 310px;
  position: absolute;
}

#uitleg > p {
  margin-left: 536px;
  font-size: 21px;
  margin-right: 43px;
  line-height: 1.6;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
#uitleg > img:nth-of-type(1) {
  width: 470px;
  margin-left: 32px;
  position: absolute;
}
#uitleg > img:nth-of-type(2) {
  width: 343px;
  margin-left: 547px;
  margin-top: 101px;
  position: absolute;
}
@media only screen and (max-width: 430px) {
  /* Algemene aanpassingen voor het body */
  body {
    font-size: 14px; /* Verminderen van font-grootte voor mobiel */
  }
  header {
    left: 0px;
    height: 0%;
  }
  #navLinks {
    display: none; /* Menu is verborgen op kleinere schermen */
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 50px;
    right: 0;
    width: 200px;
    padding: 20px;
    z-index: 999;
  }

  .menu-toggle {
    display: block;
    color: black;
    border: 2px solid black;
    background-color: white;
    border-radius: 6px;
    position: absolute; /* Absoluut positioneren */
    top: 10px; /* Afstand van de bovenkant */
    left: 20px; /* Afstand van de linkerkant */
    z-index: 1000; /* Zorg dat de knop boven het menu blijft */
    transform: scale(1);
    width: 11%;
  }

  /* Verberg #navstijl standaard */
  #navstijl {
    display: none;
    gap: 3%;
    padding: 0;
  }

  /* Toon #navstijl wanneer de 'open' klasse wordt toegevoegd */
  #navstijl.open {
    display: grid;
  }
  #nav {
    margin-top: 71%;
  }
  /* Zorg ervoor dat alles binnen #intro in een kolom wordt gestapeld */
  #intro {
    display: flex;
    flex-direction: column; /* Stapel de items verticaal */
    align-items: center; /* Zorg ervoor dat de items gecentreerd zijn */
    justify-content: center;
    gap: 10px; /* Voeg een beetje ruimte toe tussen de elementen */
  }

  /* Maak de h1 en p binnen intro responsief en gecentreerd */
  #intro h1 {
    font-size: 1rem;
    text-align: center;
    color: black;
    margin-left: 33%;
    margin-top: -18%;
  }

  #intro p {
    font-size: 0.7rem;
    text-align: left;
    color: black;
    margin: 0;
    width: 39%;
    margin-left: 60%;
    margin-top: -10%;
  }
  #intro audio {
    display: none;
  }
  #uitleg > img:nth-of-type(1) {
    width: 100%;
    margin-left: 0px;
    margin-top: 38%;
    position: absolute;
  }
  #uitleg > p {
    margin-left: 4%;
    font-size: 72%;
    margin-right: 43px;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
  #uitleg > img:nth-of-type(2) {
    width: 100%;
    margin-left: 0;
    margin-top: 141%;
    position: absolute;
    padding-bottom: 58%;
  }
}
